/* @import "default.css"; */

/* body */

body, html
{
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	color: #333;
	font-family: Tahoma, Trebuchet, Verdana, Arial, sans-serif;
}

/* default */

*
{
	font-family: Tahoma, Trebuchet, Verdana, Arial, sans-serif;
}

fieldset
{
	border: 0;
	margin: 0;
	padding: 0;
}
label
{
	vertical-align: top;
}
label:hover
{
	color: #f99;
}

.alt
{
	display: block;
	position: absolute;
	left: -1000px;
}

.hide
{
	display: none;
}
.clear
{
	clear: both;
}
.inline
{
	display: inline;
}
a, a:link, a:hover, a:visited
{
	text-decoration: none;
}
a, a:visited
{
	color: #06e;
}

a:hover
{
	color: #f33;
	text-decoration: underline;
}

strong
{
	font-weight: bold;
}
img
{
	border: 0;
}

/* for NN 4.x */
body, h1, h2, h3, h4, h5, h6, div, span, p, a, li, dt,dd, caption, th, td, pre, code
{
	font-family: Tahoma, Trebuchet, Verdana, Arial, sans-serif;
	font-size: 100%;
}

/* for IE non-standard mode */
form, ul, dl, p
{
	margin: 0;
}

.accesskey
{
	vertical-align: top;
	color: #f00;
	font-family: Verdana, sans-serif;
	font-size: 70%;
	font-weight: bold;
}
.accesskey span
{
	display: none;
}

.center
{
	text-align: center;
}

.right
{
	display: block;
	float: right;
	clear: right;
	padding: 5px;
}
.left
{
	display: block;
	float: left;
	clear: left;
	padding: 5px;
}
p.left
{
	float: none;
	clear: left;
}

.block
{
	display: block;
}

.relative
{
	position: relative;
}

li span
{
	padding-left: 3px;
}

ul, ul li
{
	list-style: url(images/swd1.png);
}

ul ul, ul ul li
{
	list-style: url(images/swd2.png);
}

/* monthArchive */

#outer .monthArchive ol
{
	display: inline;
	margin: 0;
	padding: 0;
}
#outer .monthArchive ol li
{
	display: inline;
	padding: 1px;
	color: #ccc;
	font-size: 75%;
}

#outer .monthArchive ol li span
{
	margin: 0;
	padding: 0;
	font-size: 100%;
}

#outer .monthArchive ol a
{
	margin: 0;
}


/* @import "structure.css"; */

/* structure */

html, body
{
	background: url('images/sideBorder.png') repeat-y 68% top;
}

#skipnavigation
{
	display: none;
}

#menu
{
	margin: 0 32% 0 0;
	padding: 0.1em 0 0;
	text-align: center;
}

#container
{
	width: 100%;
	float: left;
	margin: 0 -32% 0 0;
	padding: 0;
}
#content
{
	margin: 0 32% 0 0;
	padding: 0 1.5em 0 0.5em;
}

#sidebar
{
	width: 32%;
	float: right;
	padding: 0.5em 0 1em;
        background: url('images/transwhite.png');
}

#outer
{
	margin-bottom: -41px;
	height: 100%;
}

html>body #outer
{
	height: auto;
	min-height: 100%;
}

#b
{
	clear: both;
	height: 41px;
	width: 100%;
}

#validator
{
	clear: both;
	width: 100%;
}



/* @import "head.css"; */

h1
{
	margin: 0;
	padding: 0 1em;
	font-size: 200%;
	height: 100px;
	background: #06f;
}

h1 a, h1 a:visited, h1 a span.n
{
	color: #fff;
	text-decoration: none;
}
h1 a:hover span
{
	color: #f00;
}
h1 a:hover span.n
{
	color: #fff;
}
h1 a:hover
{
	font-size: 150%;
}

h2
{
	clear: left;
	margin: 0 1.5em 0 0.5em;
	padding: 0.5em 0 2em;
	text-align: center;
	color: #aaa;
}

#content h3.special
{
	float: none;
	width: auto;
	text-align: center;
	padding: 0;
	border-width: 0;
	margin: 0 0 0.5em;
	color: #69f;
}

#content h3
{
	width: 2.8em;
	margin: 0;
	padding: 0;
	border: 1px solid #ddb;
	float: left;
}

#content h3 span.mon
{
	text-align: center;
	padding: 4px 0;
	color: #333;
	background: #ffd;
	display: block;
	font-size: 70%;
	font-weight: 300;
}

#content h3:target span.mon
{
	color: #000;
	background: #ffb;
}

#content h3 span.day
{
	font-size: 200%;
	display: block;
	font-weight: 800;
	margin: 0.1em 0 0 0;
}

h4
{
	margin: 0 0 1em 0;
	color: #f66;
	border-bottom: 1px solid #eef;
}

.c h4 a:link, .c h4 a:visited
{
	display: block;
	color: #f66;
	text-decoration: none;
}

.c h4 a:hover
{
	color: #f00;
}


.c h4:hover
{
	border-color: #f00;
}

h5
{
	color: #999;
	margin: 1em 0;
	border-left: 5px solid #69f;
	padding-left: 5px;
}

#trackbacks h5, #comments h5
{
	color: #999;
	font-weight: normal;
	border-bottom: 1px solid #eef;
	padding-bottom: 2px;
	margin: 0;
	padding: 0;
	border-left-width: 0;
}

h5 span
{
	margin: 0 2px;
	font-size: 90%;
	font-weight: normal;
}



/* @import "navigation.css"; */

/* navigation */

#navigation_list
{
	margin-top: -1.6em;
	height: 1.6em;
	padding: 0;
	list-style: none;
	font-size: 85%;
	background: url('images/peep_pen01.gif') no-repeat 99% 100%;
}

#navigation_list li
{
	float: left;
	list-style: none;
	display: block;
	margin: 0 0 0 0.5em;
}

#navigation_list a
{
	display: block;

	line-height: 1.6em;
	height: 1.6em;
	width: 5.5em;
	position: relative;

	color: #fff;
	background: #28f;
	border-bottom: 2px solid #ddd;
	margin-bottom: -2px;

	text-align: center;
}

#navigation_list a:hover
{
	background: #f66;
	border-color: #f00;
	text-decoration: none;
}

#active a, #active a:hover, #active a:active
{
	color: #333;
	background: #fff;
	cursor: default;
	border-color: #fff;
}

#active
{
	background-image: none;
}


/* @import "content.css"; */

#menu_right
{
	font-size: 80%;
	float: right;
	margin: -1.5em 1.9em 0 0;
	padding: 0 5px;
	border: 1px solid #ddd;
	line-height: 1.3em;
	height: 1.3em;
	background: #eee;
	color: #ddd;
}

.c
{
	margin: 0 0 0 3.5em;
}

.c.special
{
	margin: 0 0 0 1em;
}

.c p
{
	font-size: 90%;
	line-height: 1.5;
	margin: 1em 0;
	color: #333;
}

.c a:link, .c a:visited
{
	text-decoration: underline;
}

.c .extended
{
	font-size: 90%;
}

.c .p
{
	clear: both;
	margin: 1.25em 0 2.5em;
	display: block;
	color: #999;
	font-size: 80%;
}

pre code
{
	display: block;
	overflow: auto;
	border: 1px solid #ddc;
	border-width: 2px 0;
	margin: 0 1em;
	padding: 0.3em;
	color: #000;
	background: #ffe;
	font-size: 90%;
}

blockquote
{
	border: 1px solid #ddc;
	border-width: 0 0 0 4px;
	margin: 0 1em 1em;
	padding: 0.3em 0 0.3em 0.5em;
	color: #000;
	background: #ffe;
	font-size: 90%;
}

#content ul
{
	margin: 0 0.5em;
	padding: 0.5em 1.2em;
}
#content ul li, #content ol li
{
	margin: 0 0 0.65em;
	font-size: 90%;
	line-height: 1.3;
}

#content ul li span
{
	color: #999;
	font-size: 80%;
}

#content .monthArchiveInC li span
{
	color: #ccc;
	font-size: 80%;
}

.c dt
{
	font-size: 90%;
	padding: 3px 0;
}

.c dd
{
	font-size: 90%;
	margin-left: 2em;
}

/* @import "trac_comm.css";*/

/* trackbacks */
/* comments */

#comments, #trackbacks
{
	margin: 6px 0.5em 0 0;
	padding: 0.5em 0;
}

#comments
{
	margin-bottom: 0.5em;
}

#content #comments h5 span, #content #trackbacks h5 span
{
	margin: 0 1em;
	color: #ccc;
	font-size: 75%;
	font-weight: normal;
}

#comments h5 a, #comments h5 a:hover,
#trackbacks h5 a, #trackbacks h5 a:hover
{
	padding: 0 4px;
	text-decoration: none;
}
#comments ol, #trackbacks ol
{
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

#comments li, #trackbacks li
{
	list-style: none;
	padding: 4px;
	font-size: 90%;
}

#comments .cnumber, #trackbacks .tnumber
{
	float: left;
	font-size: 200%;
	line-height: 1.1em;
	width: 1.1em;
	text-align: center;
}

#comments .cnumber a, #comments .cnumber a:hover,
#trackbacks .tnumber a, #trackbacks .tnumber a:hover
{
	color: #ddd;
	text-decoration: none;
}

#comments li:target .cnumber a, #comments li:target .cnumber a:hover,
#trackbacks li:target .cnumber a, #trackbacks li:target .cnumber a:hover
{
	color: #f00;
}

#comments .chead, #trackbacks .thead
{
	font-size: 90%;
	color: #999;
	border-bottom: 1px solid #eee;
	margin: 0 1em 0 3em;
}

#comments .cbody, #trackbacks .tbody
{
	color: #555;
	margin: 0.3em 1em 0 4em;
	line-height: 1.5;
}

#comments p, #trackbacks p
{
	text-indent: 0;
}

/* post comment */

#post_comment
{
	width: 100%;
	text-align: center;
}

#post_comment_table
{
	width: 95%;
	border-collapse: collapse;
	margin: 0 2%;
}
#post_comment_table caption
{
	display: none;
}

#post_comment_table th, #post_comment_table td
{
	border: 1px solid #eee;
	border-width: 0px 0px 1px;
	padding: 6px;
	
	font-size: 75%;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}
#post_comment_table th
{
	width: 8em;
}

#post_comment #author, #post_comment #email, #post_comment #url
{
	width: 60%;
}

#post_comment #text
{
	width: 90%;
}

#post_comment input.button
{
	font-size: 115%;
	width: 7em;
}

#comments li.SiteOwner
{
	border: 1px solid #ccc;
	background: #036;
}

.comment0
{
        background: #eee;
}

#comments .comment0 .cnumber a:link
{
	color: #ccc;
}

#comments .comment0 .chead 
{
        border-bottom-color: #fff;
}

/* @import "form.css"; */

/* form visual effect, CSS2 based, IE will not show */


input.text, textarea
{
	border: 1px solid #ddc;
	padding: 2px;
	color: #666;
	background: #ffe;
	font-size: 100%;
}
input.text:focus, textarea:focus
{
	border: 1px solid #00f;
	color: #000;
}
input.button
{
	width: 5.5em;
	height: 1.5em;
	border: 1px solid #999;
	color: #fff;
	background: #bbb;
}

.tip
{
	display: none;
}

.haveTooltip
{
	display: block;
	position: relative;
}

.withtip:focus+.tip, .hovertip:hover+label+.tip, .hovertip+label:hover+.tip
{
	display: block;
	position: absolute;
	right: 0;
	width: 45%;
	bottom: 2em;
	padding: 0 0 12px 0;
	background: url(/images/tip_bg.png) no-repeat 10px bottom;
	opacity: 0.9;
}

#remember+label+.tip
{
	left: 2em;
	bottom: 2.1em;
}
#forget+label+.tip
{
	left: 5em;
	bottom: 2.1em;
}
#text
{
	margin: 4px 0;
}
#text+.tip
{
	bottom: 13em;
}

.tip:before, .tip:after
{
	content: " ";
	display: block;
	margin: 0 1px;
	height: 1px;
	background: #fff;
}

#post_comment .tip p
{
	color: #000;
	background: #fff;
	margin: 0px 0;
	padding: 5px 10px;
	font-size: 95%;
}

textarea /* margin bottom fix, reason unknown */
{
	margin: 0 0 -0.15em;
}
input[type="radio"]
{
	opacity: 0;
	width: 3em;
	margin-left: 0;
	margin-right: -3.3em; /* why 3.3 ? */
}
input[type="radio"]+label
{
	margin: 0 0.3em 0 0;
	border: 1px solid #ddc;
	padding: 2px 4px;
	width: 3em;
	color: #666;
	background: #ffe;
	text-align: center;
}
input[type="radio"]+label:hover,input[type="radio"]:hover+label
{
	color: #f99;
}
input[type="radio"]:checked+label
{
	border-color: #00f;
	color: #00f;
	background: #ffe;
}
input[type="radio"]:focus+label
{
	border-color: #00f;
	color: #ffe;
	background: #00f;
}



/* @import "sidebar.css"; */

/* sidebar */

#sidebar h3
{
	margin: 0.5em 1.3em;
	border-bottom: 1px solid #eef;
	padding: 0 0.2em;
	color: #999;
	font-size: 100%;
	font-weight: bold;
}

#search_form fieldset
{
	padding: 0 0.5em 0 1.5em;
	font-size: 90%;
}
#search_form legend
{
	color: #333;
}
#search_form a
{
	position: relative;
}
#search_form .button
{
	margin: 0 0.4em;
}

#sidebar ul
{
	margin: 0 0.5em 0 1.3em;
	padding: 0 0 0 1.2em;
	color: #555;
}

#sidebar li
{
	margin: 0 0 0.65em;
	font-size: 90%;
}
#sidebar li span
{
	color: #999;
	font-size: 75%;
}

#sidebar a:hover
{
	color: #f00;
	text-decoration: underline;
}

/* calendar */

#sidebar .calendar
{
	margin: 0 0.5em 0.5em 2em;
}

caption
{
	margin: 0 0.5em 0 2em;
}

#sidebar .calendar th, #sidebar .calendar td
{
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
	width: 1.8em;
}
#sidebar .calendar td
{
	color: #ccc;
}
#sidebar .calendar a
{
	display: block;
}

/* info */

ul#info
{
	display: block;
	padding: 0;
	margin: 0.5em 0 0 1.3em;
}

ul#info li
{
	display: block;
	list-style: none;
	float: left;
	margin: 0 5px 5px 0;
	border: 1px solid #39f;
	width: 80px;
	height: 15px;
}

#count div
{
	font-size: 14px;
	text-align: right;
	padding: 0 3px;
	line-height: 15px;
	background: #ffe;
}

#oblog
{
	background: url(/images/ouiblog_8015.png);
}

#pmt
{
	background: url(/images/mtlogo.gif);
}

ul#info li a, ul#info li a:hover
{
	overflow: hidden;
	margin: 0;
	display: block;
	width: 80px;
	height: 15px;
}

#sidebar .hideinfo
{
	display: none;
}
#sidebar li:hover .hideinfo
{
	display: block;
	position: absolute;
	background: #fff;
	color: #666;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	width: 90%;
	opacity: 0.7;
}



/* @import "validator.css"; */

/* validator */

#validator ul, #validator ul li, #validator ul li a
{
	display: block;
}

#validator ul li, #validator ul li a
{
	width: 88px;
	height: 31px;
}

#validator ul
{
	margin: 0;
	padding: 0 5px;
	height: 41px;
	background: #06f;
}

#validator ul li
{
	float: left;
	overflow: hidden;
	position: relative;
	top: 5px;
	margin: 0 3px;
	background: no-repeat top left;
}

#validator #creative_commons
{
/*	background: url(http://creativecommons.org/images/public/somerights20.gif); */
	background: url(/images/cc.png); 
	width: 92px;
}
#validator #another_html_lint
{
	background: url(http://openlab.ring.gr.jp/k16/images/kaz-ahl.png);
}
#validator #w3c_html
{
	background: url(http://www.w3.org/Icons/valid-xhtml11);
}
#validator #w3c_css
{
	background: url(http://jigsaw.w3.org/css-validator/images/vcss);
}
#validator #smile_peace
{
	background: url(/images/peace_90x31.gif);
	float: right;
	width: 90px;
}


