/* hidden links

   Published by O3noBLOG
                 http://blog.othree.net

*/

#hlArea
{
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background-color: transparent;
}

#hlShadow
{
	position: absolute;
	right: 14px;
	opacity: 0;
	width: 104px;
}

#hlDiv
{
	border: 1px solid black;
	background: #fff;
}

#hlDiv ul
{
	list-style: none;
	padding: 1px;
	margin: 0;	
}

#hlDiv li
{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center; 
}

#hlDiv a
{
	color: #000;
	font: 12px Verdana;
	text-decoration: none;
	display: block;
	height: 25px;
	line-height: 25px;
	width: 100px;
}
#hlDiv a:link
{
	color: #000;
}
#hlDiv a:visited
{
	color: #000;
}
#hlDiv a:hover
{
	color: #fff;
	background: #999;
}