
html body {
  background-color: #fffffb; /* http://nipponcolors.com/#gofun */
  font-family: -apple-system, PingFangTC-Regular, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  scroll-behavior: smooth;
}

hr {
  display: none;
}

header,
footer,
nav,
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

#page-info {
  display: none;
}

#content {
  padding: 5px;
}

amp-img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/*bootstrap*/
.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a.thumbnail:hover {
  border-color: #08c;
  -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
  -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
  box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}
.thumbnail img {
  border-radius: 2px;
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#content header time {
  display: none;
}

a:link {
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: none;
  color: #666;
}
a:hover,
a:active {
  text-decoration: underline;
}
