#hidden-links {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    border: 1px solid black;
    margin: 0;
    padding: 1px;
    list-style: none;
    background: white;
}

#hidden-links li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#hidden-links li a {
    display: block;	
    padding: 8px 20px;
    color: black;
    text-align: center;
    font-size: 80%;
    text-decoration: none;
}

#hidden-links li a:hover {
    background: gray;
    color: white;
}

#hidden-links-trigger {
    background: transparent;
}
