.o-hidden {
    opacity: 0;
}

html.hasFontSmoothing-true body {
    font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

body {
    background-image: url('groovepaper/groovepaper.png');
}

#container {
    padding-top: 60px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 46px;
    margin-bottom: 1em;
}

h1 a,
h1 a:hover {
    color: #EC7424;
    text-decoration: none;
    -webkit-transition: text-shadow 1s ease;
    -moz-transition: text-shadow 1s ease;
    -o-transition: text-shadow 1s ease;
    transition: text-shadow 1s ease;
}

h1 a:hover {
    text-shadow: rgba(0,0,0,0.7) 10px 10px 10px;
}

#page-info {
    display: none;
}

#content article {
    margin: 0.5em 0 2em;
}
#content footer {
    margin-top: 2em;
}

#content h3 {
    margin-bottom: 1em;
}
#content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 1em 0;
}
#content li {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0.5em;
}
#content p .thumbnail {
    display: inline-block;
}

#content p img {
    height: auto;
}
#content p a,
#content li a {
    margin: 0 0.2em;
}

#content header {
    margin-bottom: 0.5em;
}

#content header h3 {
    font-size: 24px;
    text-shadow: rgba(0,0,0,0.5)  1px 1px 1px;
}

#content .extended {
    display: block;
    margin: 2em 0;
    font-size: 16px;
    font-style: normal;
}

#content header time {
    display: none;
}
/* #content footer a {
    padding: 0 0.5em;
    border-left: 1px solid #08c;
} */

#commentlist {
    display: block;
    margin: 0;
    padding: 0;
}

#comments li {
    display: block;
    list-style: none;
    margin: 0.5em 0;
}

#prev-link {
    display: block;
    margin: 1em 0;
    font-size: 24px;
}

aside [role=contentinfo] {
    margin: 1em 0;
}
aside [role=contentinfo] .pn time {
    display: none;
}
aside [role=contentinfo] strong {
    margin: 0 0.3em;
}

aside h2 {
    display: none;
}
aside p {
    font-size: 14px;
    line-height: 1.6;
}
aside li {
    font-size: 14px;
    line-height: 1.7;
}
aside li span {
    margin: 0 0.3em;
}
#stickers a {
    display: block;
}


.input-mxlarge {
    width: 100%;
    max-width: 420px;
}

.accesskey {
    display: none;
}

pre, code, pre code {
    font-family: 'Droid Sans Mono', Monaco, monospace;
}

footer {
    margin-top: 6em;
}
footer h2 {
    display: none;
}
footer a {
    padding: 0 0.5em;
    border-left: 1px solid #08c;
}
footer a:last-of-type {
    border-right: 1px solid #08c;
}
/* monthArchive */
#content .month-archive ol {
    display: inline;
    margin: 0;
    padding: 0; 
}
#content .month-archive ol li {
    display: inline;
    padding: 3px;
    color: #ccc;
    background: transparent;
    font-size: 90%;
}
#content .month-archive ol li span {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
#content .month-archive ol a {
    margin: 0;
}
#nav-search {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
