
#container {
    padding-top: 60px;
}

h1 {
    font-size: 36px;
    margin-bottom: 1em;
}

h1 a {
    color: #EC7424;
}

#page-info {
    display: none;
}

#content article {
    margin: 0.5em 0 2em;
}

#content p img {
    height: auto;
}

#content header {
    margin-bottom: 0.5em;
}

#content header h3 {
    font-size: 24px;
}

#content header time {
    display: none;
}
#content footer a {
    padding: 0 0.5em;
    border-left: 1px solid #08c;
}

.speakerdeck-iframe {
    max-width: 100%;
    height: auto;
}

aside h2 {
    display: none;
}
