@import "../ydsf.css";

/* @import "default.css"; */

/* body */

body, html
{
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	color: #fff;
	font-family: Tahoma, Trebuchet, Verdana, Arial, sans-serif;
	background: #069 url(images/outer_bg.png) repeat-y left bottom;
}

/* default */

*
{
	font-family: Tahoma, Trebuchet, Verdana, Arial, sans-serif;
}

fieldset
{
	border: 0;
	margin: 0;
	padding: 0;
}
label
{
	vertical-align: top;
}

.alt
{
	display: block;
	position: absolute;
	top: -1000px;
}

.hide
{
	display: none;
}
.clear
{
	clear: both;
}
.inline
{
	display: inline;
}
a, a:link, a:hover, a:visited
{
	text-decoration: none;
}
strong
{
	margin: 0 3px;
	color: #ff0;
}
img
{
	border: 0;
}

/* for NN 4.x */
body, h1, h2, h3, h4, h5, h6, div, span, p, a, li, dt,dd, caption, th, td, pre, code
{
	font-family: Tahoma, Trebuchet, Verdana, Arial, sans-serif;
	font-size: 100%;
}

/* for IE non-standard mode */
form, ul, dl, p
{
	margin: 0;
}

.accesskey
{
	vertical-align: top;
	color: #3f3;
	font-family: Verdana, sans-serif;
	font-size: 70%;
	font-weight: bold;
}
.accesskey span
{
	display: none;
}

.right
{
	display: block;
	float: right;
	clear: right;
	padding: 5px;
}
.left
{
	display: block;
	float: left;
	clear: left;
	padding: 5px;
}
p.left
{
	float: none;
	clear: left;
}

.block
{
	display: block;
}

.hideinfo
{
	display: none;
}

/* @import "structure.css"; */

/* structure */

#skipnavigation
{
	display: none;
}

#banner
{
	height: 3em;
	background: #933;
}

#navigation
{
	height: 1.5em;
	background: #f66;
}

#menu
{
	margin: 0 32% 0 0;
	padding: 0.1em 1em 0.1em 2em;
	height: 1.4em;
	color: #fff;
	background: #6ac url(images/menu_round.png) no-repeat right top;
}

#container
{
	width: 100%;
	float: left;
	margin: 0 -32% 0 0;
	padding: 0;
}
#content
{
	margin: 0 32% 0 0;
	padding: 2em 0.5em 0em 1em;
	background: url(images/content_round.png) no-repeat 6px top;
}

#sidebar
{
	width: 32%;
	float: right;
	margin: 0 0 0.5em 0;
	padding: 0.5em 0 1em 0;
	background: #933 url(images/sidebar_round.png) no-repeat left bottom;
}

#outer
{
	margin-bottom: -66px;
	height: 100%;
}

html>body #outer
{
	height: auto;
	min-height: 100%;
}

#b
{
	clear: both;
	height: 46px;
	width: 100%;
}

#validator
{
	clear: both;
	width: 100%;
	padding: 20px 0 0;
	margin: -20px 0 0;
	border-bottom: 15px solid #000;
	background: url(images/valid_bg.png) no-repeat 6px top;
}



/* @import "navigation.css"; */

/* navigation */

#navigation_list
{
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	width: 23em;
}

#navigation_list li
{
	float: left;
	margin-top: 0.9em;
	margin-right: 0.4em;
}

html>body #navigation_list li
{
	margin-top: 1.2em;
	margin-right: 0;
}

#navigation_list a
{
	display: block;

	line-height: 1.45em;
	height: 1.45em;
	width: 5.5em;
	position: relative;

	border: 1px solid #fff;
	color: #fff;
	background: #06c;
	font-size: 90%;
	text-align: center;
	font-weight: bold;
}

#navigation_list a:hover
{
	background: #39f;
}
#navigation_list a:active
{
	background: #ccc;
}

#active a, #active a:hover, #active a:active
{
	border: 1px solid #933;
	color: #f66;
	background: #933;
	cursor: default;
}

#active
{
	background-image: none;
}



/* @import "head.css"; */

/* head */

h1
{
	position: absolute;
	margin: 0;
	padding: 0 0.5em;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 200%;
	vertical-align: middle;
}

h1 a
{
	color: #fff;
}
h1 span
{
	color: #9f3;
}
h1 span.n
{
	color: #fff;
	font-weight: normal;
}
h1 a:hover
{
	color: #f66;
}
h1 a:hover span
{
	color: #933;
}
h1 a:hover span.n
{
	color: #f66;
}

h2
{
	display: inline;
	margin: 0 0.3em;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
}

h3
{
	position: relative;
	margin: 0 1em;
	border-bottom: 4px solid #6ac;
	padding: 0 0 0 1em;
	color: #f66;
	font-size: 90%;
}

#content h3.special
{
	width: auto;
	float: none;
	padding: 4px;
	border: 0px solid #6ac;
	color: #fff;
	background: #069;
	font-size: 100%;
	text-align: center;
}

#content h3
{
	width: 3.2em;
	padding: 0px;
	border-width: 0;
	font-size: 80%;
	float: left;
}

#content h3 span.mon
{
	text-align: center;
	padding: 4px 0;
	color: #333;
	background: #ffd;
	display: block;
	font-size: 80%;
	font-weight: 300;
}

#content h3:target span.mon
{
	color: #333;
	background: #eee;
}

#content h3 span.day
{
	font-size: 200%;
	display: block;
	font-weight: 800;
	margin: 0.1em 0 0 0;
}

h4
{
	margin: 0 0.5em;
	padding: 0.5em 0 0 0;
	color: #f90;
	font-size: 100%;
}
#content h4 a, #content h4 a:visited
{
	color: #f90;
	text-decoration: none;
}
#content h4 a:hover
{
	color: #f63;
}

h5
{
	margin: 0 0.5em;
	color: #fc6;
	font-size: 90%;
}

#comments h5, #trackbacks h5
{
	margin: 0;
	border-bottom: 1px solid #ccc;
	color: #fc6;
	font-size: 100%;
}



/* @import "content.css"; */

/* menu */

#menu_left
{
	float: left;
}

#menu_right
{
	text-align: right;
}

#menu a
{
	color: #fff;
	font-size: 75%;
}

#menu a:hover
{
	text-decoration: underline;
}

/* content */

#content .c
{
	margin: 0 0 1em 2.8em;
	border: 2px solid #006396;
	padding: 0;
	background: #006093;
	line-height: 1.5;
}

#content .c:before, #content .c:after
{
	content: " ";
	display: block;
	height: 20px;
}

#content .c:before
{
	background: url(images/c_round.png) no-repeat top right;
	margin: -1px -1px -19px 0;
}
#content .c:after
{
	background: url(images/c_round2.png) no-repeat bottom left;
	margin: -19px 0 -1px -1px;
}

#content .special
{
	margin: 0 0 0.9em 1em;
}

#content p
{
	margin: 0.7em 0.5em;
	font-size: 90%;
	text-indent: 2em;
}

#content code
{
	color: #ffc;
	margin: 0 0.5em;
}

#content blockquote, #content pre code
{
	display: block;
	margin: 1em;
	border: 2px solid #faa;
}

#content blockquote
{
	border-width: 0 0 0 6px;
	padding: 0.5em;

	background-color: #6ac;

/*
	margin: 0.5em 0;
	border-left: 0.5em solid #6ac;
	border-right: 0.5em solid #6ac;
	border-top: 0.5em solid #069;
	border-bottom: 0.5em solid #069;
	padding: 0.3em;

	color: #cc9;
	background-color: #069;

	font-size: 90%;
	font-weight: bold;
*/
}

#content blockquote p
{
	margin: 0;
	padding: 0;

	font-size: 90%;
}

#content pre
{
	margin: 0;
	padding: 1.1em;
}

#content pre code
{
	display: block;
	overflow: auto;
	margin: -0.1em;
	padding: 0.1em;
	width: 99%;
	background: #59b;
	font-size: 90%;
}

#content ul
{
	list-style: disc url(images/content_listitem.png);
	margin: 0 0.5em;
	padding: 0.5em 1.2em;
}
#content ul ul
{
	list-style: disc url(images/content_listitem_2.png);
}
#content ul li, #content ol li
{
	margin: 0 0 0.65em;
	font-size: 90%;
	line-height: 1.3;
}

#content ul li span
{
	color: #ccc;
	font-size: 80%;
}

#content dl
{
	margin: 1em;
}
#content dl dt
{
	margin: 0.5em 0 0;
	border-bottom: 1px solid #6ac;
}
#content dl dt:target, #content dl dt:target+dd
{
	color: #cff;
}

#content dl dd
{
	margin: 0 0 0 1.5em;
}

#content img, #content object
{
	margin: 4px;
}

#content .extended
{
	display: block;
	padding: 0.7em 0.5em;
	clear: both;
	font-size: 80%;
}

#content .p
{
	background: url(images/post.png) no-repeat left top;
	display: block;
	clear: both;
	margin: 0 0 0 20px;
	padding: 0 0 0.54em 21px;
	font-size: 70%;
	height: 16px;
	line-height: 16px;
}

#content a
{
	padding: 0 4px;
	color: #fdc;
	text-decoration: underline;
}

#content a:hover
{
	color: #f63;
}

#content a img
{
	display: block;
}

#archive_list, #blogroll_list
{
	margin: 0 auto;
	padding: 1em 0 0 2em;
}


#outer .monthArchive ol
{
	display: inline;
	margin: 0;
	padding: 0;
}
#outer .monthArchive ol li
{
	display: inline;
	padding: 1px;
	color: #ccc;
	font-size: 75%;
}

#outer .monthArchive ol span
{
	font-size: 100%;
	padding: 0;
}

#outer .monthArchive ol a
{
	margin: 0;
	padding: 0;
}



/* @import "trac_comm.css"; */

/* trackbacks */
/* comments */

#comments, #trackbacks
{
	margin: 6px 0.5em 0 20px;
	border: 1px solid #6ac;
	padding: 0.5em;
	background: #369;
}

#comments
{
	margin-bottom: 0.5em;
}

#content #comments h5 span, #content #trackbacks h5 span
{
	margin: 0 1em;
	color: #ccc;
	font-size: 75%;
	font-weight: normal;
}

#comments h5 a, #comments h5 a:hover,
#trackbacks h5 a, #trackbacks h5 a:hover
{
	padding: 0 4px;
	color: #9cf;
	text-decoration: none;
}
#comments h5 a:hover, #trackbacks h5 a:hover
{
	color: #f96;
	text-decoration: underline;
}

#comments ol, #trackbacks ol
{
	list-style: none;
	padding: 0;
}

#comments li, #trackbacks li
{
	list-style: none;
	padding: 4px;
}

#comments .cnumber, #trackbacks .tnumber
{
	float: left;
	font-size: 200%;
	color: #6ac;
	line-height: 1.1em;
	width: 1.1em;
	text-align: center;
}

#comments .cnumber a, #comments .cnumber a:hover,
#trackbacks .tnumber a, #trackbacks .tnumber a:hover
{
	color: #6ac;
	text-decoration: none;
}

#comments li:target
{
	background-color: #058;
}

#comments li:target .cnumber a, #comments li:target .cnumber a:hover,
#trackbacks li:target .cnumber a, #trackbacks li:target .cnumber a:hover
{
	color: #f00;
}

#comments .chead, #trackbacks .thead
{
	font-size: 90%;
	color: #ccc;
	border-bottom: 1px solid #6ac;
	margin: 0 1em 0 3em;
}

#comments .cbody, #trackbacks .tbody
{
	color: #fff;
	margin: 0.3em 1em 0 4em;
}

#comments p, #trackbacks p
{
	text-indent: 0;
}

/* post comment */

#post_comment
{
	width: 100%;
	text-align: center;
}

#post_comment_table
{
	width: 95%;
	border-collapse: collapse;
	margin: 0 2%;
}
#post_comment_table caption
{
	display: none;
}

#post_comment_table th, #post_comment_table td
{
	border: 1px solid #69c;
	border-width: 0px 0px 1px;
	padding: 6px;
	
	font-size: 75%;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}
#post_comment_table th
{
	width: 8em;
}

#post_comment #author, #post_comment #email, #post_comment #url
{
	width: 60%;
}

#post_comment #text
{
	width: 90%;
}

#post_comment input.button
{
	font-size: 115%;
	width: 7em;
}

#comments li.SiteOwner
{
	border: 1px solid #ccc;
	background: #036;
}



/* @import "sidebar.css"; */

/* sidebar */

#sidebar h3
{
	margin: 0.5em 0.5em 0.5em 1.3em;
	border-bottom: 1px solid #f66;
	padding: 0 0.2em;
	color: #69f;
	font-size: 100%;
	font-weight: bold;
}

#search_form fieldset
{
	padding: 0 0.5em 0 1.5em;
	font-size: 90%;
}
#search_form legend
{
	color: #fff;
}
#search_form a
{
	position: relative;
}
#search_form .button
{
	margin: 0 0.4em;
}

#sidebar .c
{
	margin: 0 0.5em 0 1em;
}
#sidebar p
{
	margin: 0;
	font-size: 90%;
}

#sidebar ul
{
	list-style: disc url(images/sidebar_listitem.png);
	margin: 0 0.5em 0 1.3em;
	padding: 0 0 0 1.2em;
	color: #fff;
}

#sidebar li
{
	margin: 0 0 0.65em;
	font-size: 90%;
}
#sidebar li span
{
	color: #bbb;
	font-size: 75%;
}

#sidebar a
{
	margin: 0 5px 0 0;
	color: #bee;
}

#sidebar a:hover
{
	color: #9cf;
	text-decoration: underline;
}

#sidebar label:hover
{
	color: #ccf;
}

/* calendar */

#sidebar .calendar
{
	margin: 0 0.5em 0.5em 1em;
}

#sidebar .calendar th, #sidebar .calendar td
{
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
	width: 1.8em;
}
#sidebar .calendar td
{
	color: #ccc;
}
#sidebar .calendar a
{
	display: block;
	background: #966;
}
#sidebar .calendar a:hover
{
	background: #633;
	text-decoration: none;
}

/* info */

ul#info
{
	display: block;
	padding: 0;
	margin: 0.5em 0 0 1.3em;
}

ul#info li
{
	display: block;
	list-style: none;
	float: left;
	margin: 0 5px 5px 0;
	border: 1px solid #fff;
	width: 80px;
	height: 15px;
}

#count div
{
	font-size: 14px;
	text-align: right;
	padding: 0 3px;
	line-height: 15px;
	background: #000;
}

#oblog
{
	background: url(/images/ouiblog_8015.png);
}

#pmt
{
	background: url(/images/mtlogo.gif);
}

ul#info li a, ul#info li a:hover
{
	overflow: hidden;
	margin: 0;
	display: block;
	width: 80px;
	height: 15px;
}



/* @import "form.css"; */

/* form visual effect, CSS2 based, IE will not show */

#content label:hover
{
	color: #f99;
}

input.text, textarea
{
	border: 2px solid #ccc;
	padding: 2px;
	color: #963;
	background: #ffe;
	font-size: 100%;
}
input.text:focus, textarea:focus
{
	border: 2px solid #ccc;
	color: #fff;
	background: #069;
}
input.button
{
	width: 5em;
	height: 1.8em;
	border: 2px solid #666;
	color: #fff;
	background: #bbb;
}

.tip
{
	display: none;
}

.haveTooltip
{
	display: block;
	position: relative;
}

.withtip:focus+.tip, .hovertip:hover+label+.tip, .hovertip+label:hover+.tip
{
	display: block;
	position: absolute;
	right: 0;
	width: 45%;
	bottom: 2em;
	padding: 0 0 12px 0;
	background: url(/images/tip_bg.png) no-repeat 10px bottom;
	opacity: 0.9;
}

#remember+label+.tip
{
	left: 2em;
	bottom: 2.1em;
}
#forget+label+.tip
{
	left: 5em;
	bottom: 2.1em;
}
#text
{
	margin: 4px 0;
}
#text+.tip
{
	bottom: 11.8em;
}

.tip:before, .tip:after
{
	content: " ";
	display: block;
	margin: 0 1px;
	height: 1px;
	background: #fff;
}

#post_comment .tip p
{
	color: #000;
	background: #fff;
	margin: 0px 0;
	padding: 5px 10px;
	font-size: 95%;
}

textarea /* margin bottom fix, reason unknown */
{
	margin: 0 0 -0.15em;
}
input[type="radio"]
{
	opacity: 0;
	width: 3em;
	margin-left: 0;
	margin-right: -3.3em; /* why 3.3 ? */
}
input[type="radio"]+label
{
	margin: 0;
	border: 2px solid #069;
	padding: 2px 4px;
	width: 3em;
	color: #fff;
	background: #069;
	text-align: center;
}
input[type="radio"]+label:hover,input[type="radio"]:hover+label
{
	color: #f99;
}
input[type="radio"]:checked+label
{
	border-color: #ccc;
	color: #963;
	background: #ffe;
}
input[type="radio"]:focus+label
{
	border-color: #ccc;
	color: #f96;
	background: #000;
}



/* @import "validator.css"; */

/* validator */

#validator ul, #validator ul li, #validator ul li a
{
	display: block;
}

#validator ul li, #validator ul li a
{
	width: 88px;
	height: 31px;
}

#validator ul
{
	margin: 0;
	padding: 0 3px 0 23px;
	height: 31px;
	background: #6ac;
}

#validator ul li
{
	float: left;
	overflow: hidden;
	position: relative;
	top: 5px;
	margin: 0 3px;
	background: no-repeat top left;
}

#validator #creative_commons
{
/*	background: url(http://creativecommons.org/images/public/somerights20.gif); */
	background: url(/images/cc.png); 
	width: 92px;
}
#validator #another_html_lint
{
	background: url(http://openlab.ring.gr.jp/k16/images/kaz-ahl.png);
}
#validator #w3c_html
{
	background: url(http://www.w3.org/Icons/valid-xhtml11);
}
#validator #w3c_css
{
	background: url(http://jigsaw.w3.org/css-validator/images/vcss);
}
#validator #smile_peace
{
	background: url(/images/peace_90x31.gif);
	float: right;
	width: 90px;
}

