/* font */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono&subset=latin);

/* body */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #111;
    background: url('images/main-bg.gif') center top;
    text-align: center;
}
html {
    font-family: serif;
}
html.hasFontSmoothing-true {
    font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

/* default */

a, a:link, a:hover, a:visited {
    text-decoration: underline;
}
#content a, #content a:visited,
a, a:visited {
    color: #06e;
    background: transparent;
    margin: auto 2px;
}

#content a:hover,
a:hover {
    color: #f33;
    background: transparent;
}

b, strong {
    font-weight: bold;
}
img {
    border: 0;
}

.right {
    float: right;
}

hr {
    display: none;
}

.accesskey {
    vertical-align: top;
    color: #f00;
    background: inherit;
    font-family: Verdana, sans-serif;
    font-size: 70%;
    font-weight: bold;
    margin: 0 0 0 2px;
}
.accesskey span {
    display: none;
}

li span {
    padding-left: 3px;
}


/* structure */

#happydesigner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    line-height: 1.6em;
    padding: 0 0.5em;
    color: #333;
    background: #000;
}

#container {
    height: auto;
    min-height: 100%;
    width: 900px;
    position: relative;
    left: 10px;
    margin: -1px auto -2.5em;
    padding: 0 20px 0 0;
    border-top: 1px solid #fff;
    z-index: 1;
    text-align: left;
    background: url('images/container-bg.gif') repeat-y top right;
}

#content {
    float: left;
    position: relative;
    width: 900px;
    margin: 0 -278px 0 0;
    padding: 4.5em 0 1px 0;
    border-top: 2px solid #fff;
    z-index: 1; /* Opera7.54 */
    background: url('images/content-bg.gif') repeat-y top right;
    text-align: left;
}

#page-info {
    width: 620px;
    padding: 0;
    margin-bottom: -4em;
    position: relative;
    z-index: 2; /* Opera7.54 */
    text-align: center;
    height: 4em;
    color: #fff;
    background: #9cf;
}

aside {
    float: right;
    width: 278px;
    position: relative;
    z-index: 2; /* Opera7.54 */
    margin: 0;
    padding: 0.5em 0 0 0;
    color: #fff;
    background: #774C15; /* #630 */
    overflow: hidden;
}

#b {
    clear: both;
    height: 2.5em;
    /*background: url('images/b-bg.gif') bottom center repeat-x;*/
}

footer {
    display: block;
    clear: both;
    width: 900px;
    padding-right: 20px;
    margin: -1px auto -2.5em;
    text-align: left;
    position: relative;
    left: 10px;
    z-index: 10;
}

/* skip */

#skipnavigation a {
    display: block;
    height: 3px;
    line-height: 3px;
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-indent: -10000px;
    text-align: left;
}
#skipnavigation a:hover, #skipnavigation a:focus {
    color: #33f;
    background: #EB8F20;
    height: 2.5em;
    width: 100%;
    line-height: 2.5em;
    text-indent: 0;
    text-align: center;
    border-bottom: 2px solid #fff
}

/* head */

h1 {
    border-bottom: 2px solid #fff;
    width: 900px;
    height: 96px;
    color: #fff;
    background: #774C15 url('images/banner-bg.jpg') no-repeat center center;
    position: relative;
    margin: 1.5em 0 0;
    font-size: 100%;
}

h1 a, h1 a:visited {
    background: transparent url('images/logo.png') no-repeat center center;
    display: block;
    top: 24px;
    left: -20px;
    height: 48px;
    width: 192px;
    position: absolute;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    /*text-indent: -10000px;*/
}

h2 {
    margin: 0 0 0.3em;
    padding: 0.5em 0;
    color: #fff;
    width: 620px;
    background: #69f;
    border-bottom: 2px solid #fff;
    text-align: center;
    z-index: 1;
    font-weight: bold;
}

#content h3 {
    font-size: 150%;
    margin: 0 290px 0 2.6667em;
    color: mediumseagreen; 
    background: #fff;
    font-weight: bold;
    border-bottom: 1px solid #ccf;
    padding: 2px 0;
    text-shadow: black 1px 1px 1px;
}

#content h3 a:link, #content h3 a:visited {
    display: block;
    color: mediumseagreen;
    background: #fff;
    text-decoration: none;
    text-shadow: black 1px 1px 1px;
    /*text-shadow: #555 0px 1px 1px, #555 -0px -1px 1px, #555 -1px 0px 1px, #555 1px -0px 1px;*/
}

#content h3 a:hover {
    color: #f00;
    background: #fff;
}

.layout-2 #content h3 {
    padding: 0 0 2px;
    border-bottom: 1px solid #ccf;
    margin: 0 290px 0.5em 0.42em;
}

#content h4 {
    font-size: 120%;
    color: #999;
    background: transparent;
    margin: 1em 290px 0 3.33em;
    border-left: 5px solid #69f;
    padding-left: 5px;
}

#content h5 {
    font-size: 100%;
    color: #999;
    background: transparent;
    margin: 1em 290px 0 4em;
    border-left: 5px solid #69f;
    padding-left: 5px;
}


#trackbacks h4, #comments h4 {
    color: #444;
    background: inherit;
    border-left-width: 0;
    border-bottom: 1px solid #ddd;
    padding: 0 0 4px 0;
    margin: 0.5em 290px 0.5em 3.33em;
    font-weight: bold;
}

h4 span {
    margin: 0 2px;
    font-size: 90%;
    font-weight: normal;
}

/* navigatior */

nav h2 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100%;
    height: 1.6em;
    line-height: 1.6em;
    margin: 0 20px 0 0;
    width: 900px;
    text-indent: -10000px;
    color: #fff;
    background: #000;
    padding: 0;
    border-bottom: 4px solid #fff;
}
nav ul {
    margin: 0 20px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 1.6em;
    list-style: none;
    z-index: 10;
}

nav li {
    height: 1.6em;
    line-height: 1.6em;
    float: left;
    list-style: none;
    display: block;
}

nav a,
nav a:link,
nav a:visited {
    display: block;
    width: 5.85em;
    font-weight: bold;
    font-size: 100%;
    color: #fff;
    background: #000;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    background: #47a;
    border-bottom: 4px solid #000;
}

#active a, #active a:hover, #active a:active {
    color: #f33;
    cursor: default;
    background: #fff;
    border-bottom: 4px solid #a1c24d;
}

#active {
    background-image: none;
}

/* content.css */

#page-nav {
    font-size: 80%;
    padding: 0 5px;
    line-height: 1.3em;
    height: 1.3em;
    text-align: right;
    color: #630;
    background: #9cf;
}

#page-info a {
    margin: 0 3px;
    padding: 0 3px;
    background: inherit;
}

#content time {
    font-style: normal;
    width: 3em;
    margin: 0 0 0 6px;
    padding: 0;
    border: 1px solid #ccc;
    float: left;
    text-align: center;
}

#content time:target {
    border-color: orange;
    -webkit-box-shadow: 0 0 8px gold, 0 0 8px red;
    -moz-box-shadow: 0 0 8px gold, 0 0 8px red;
    box-shadow: 0 0 8px gold, 0 0 8px red;
}

#content time .mon {
    padding: 4px 0 2px;
    color: #fff;
    background: #e30;
    display: block;
    font-size: 80%;
    font-weight: normal;
    border-bottom: 2px solid #c00;
}

#content time .day {
    font-size: 172.8%;
    display: block;
    padding: 0 0 6px;
    font-weight: 800;
    margin: 2px 0 0 0;
    color: #000;
    background: #fff;
    font-family: georgia;
}


#content p {
    line-height: 1.8;
    margin: 1em 290px 1em 4em;
    color: #111;
    background: transparent;
}

#content p.update {
    border: 1px solid #090;
    color: #000;
    background: #afa;
    padding: 0.5em;
}
#content p.message {
    border: 1px solid #990;
    color: #000;
    background: #ffa;
    padding: 0.5em;
    text-align: center;
}

#content .extended {
    font-style: normal;
    margin-left: 4em;
}

#content footer {
    clear: both;
    width: auto;
    margin: 1.25em 290px 2.5em 4.3em;
    display: block;
    color: #999;
    background: transparent;
    font-size: 80%;
}
#content footer a {
    display: inline;
    margin: 0 0.5em 0 0;
    padding: 0 0 0 0.5em;
    border: none;
    border-left: 1px solid gray;
}

#content .image-info {
    color: #999;
    background: transparent;
    font-size: 80%;
}
#content pre {
    margin: 0 290px 0 4em;
    white-space: pre-wrap;
    /*word-wrap: break-word;*/
}
#content dd pre {
    margin: 0.5em 0;
}
#content .bbs pre {
    margin: 0;
}

#content pre code {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #ddc;
    padding: 1em 0.5em 1em 1.3em;
    height: auto;
    color: #555;
    background: #ffe;
    font-size: 75%;
    white-space: pre;
    line-height: 1.4;
    font-family: 'Lucida Console', 'Droid Sans Mono', Monaco, monospace;
}
#content pre {
    font-family: 'Lucida Console', 'Droid Sans Mono', Monaco, monospace;
}
#content dd pre code {
}

#content blockquote {
    border: 1px solid #ddc;
    border-left: 6px solid #ddc;
    margin: 0 290px 1em 4em;
    padding: 0.8em;
    color: #000;
    background: #ffe;
    font-size: 90%;
    line-height: 1.3;
}

#content blockquote p {
    margin: 0.5em;
}

#content ul, #content ol {
    margin: 0.5em 290px 0.5em 2.8em;
    padding: 0.5em 1.2em;
}
#content ul ul, #content ul ol, #content ul dl, 
#content ol ul, #content ol ol, #content ol dl, 
#content dl ul, #content dl ol, #content dl dl,
#content ul p , #content dl p , #content dl p {
    margin: 0;
}
#content ol {
    list-style: decimal;
}
#content ul li, #content ol li {
    margin: 0 0 0.5em;
    line-height: 1.2;
}

#content ul li span {
    color: #999;
    background: transparent;
    font-size: 80%;
}

#content ul li {
    list-style: url('images/greybump1.png');
}

#content ul ul li {
    list-style: url('images/greybump2.png');
}

#content .month-archive li span {
    color: #ccc;
    background: inherit;
    font-size: 80%;
}

#content dl {
    margin: 0.5em 290px 0.5em 4em;
}

#content dt {
    font-size: 90%;
    padding: 3px 0;
}

#content dd {
    font-size: 90%;
    margin-left: 2em;
    padding: 0.3em 0 0.5em;
}

#content #prev-link {
    display: block;
    margin: 0.5em 290px 0.5em 3.63em;
    font-size: 110%;
    font-weight: bold;
}

.layout-2 #content p, .layout-2 #content ul, .layout-2 #content ol, .layout-2 #content dl, .layout-2 #content h4 {
    margin-left: 1.5em;
}


/* monthArchive */

#content .month-archive ol {
    display: inline;
    margin: 0;
    padding: 0;
}
#content .month-archive ol li {
    display: inline;
    padding: 3px;
    color: #ccc;
    background: transparent;
    font-size: 90%;
}
#content .month-archive ol li span {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
#content .month-archive ol a {
    margin: 0;
}

/* trackbacks */
/* comments */

#comments, #trackbacks {
    margin: 6px 0.5em 0 0;
    padding: 0;
}

#comments {
    margin-bottom: 0.5em;
}

#content #comments h4 span, #content #trackbacks h4 span {
    margin: 0 1em;
    color: #ccc;
    background: inherit;
    font-size: 75%;
    font-weight: normal;
}

#comments h4 a, #comments h4 a:hover,
#trackbacks h4 a, #trackbacks h4 a:hover {
    padding: 0 4px;
    text-decoration: none;
}
#comments ol, #trackbacks ol {
    list-style: none;
    margin: 1em 290px 0 4em;
    padding: 0;
}

#comments li, #trackbacks li {
    list-style: none;
    padding: 4px;
    color: #555;
    background: transparent;
    margin: 0.3em 1em 0 4em;
    line-height: 1.5;

}

#comments a.num, #trackbacks a.num {
    position: absolute;
    top: 0;
    left: -1.5em;
    font-size: 200%;
    line-height: 1.1em;
    width: 1.1em;
    text-align: center;
    color: #ddd;
    background: transparent;
    text-decoration: none;
}

#comments li:target a.num, #comments li a.num:hover,
#trackbacks li:target a.num, #trackbacks li a.num:hover {
    color: #f00;
    background: transparent;
}

#comments h5, #trackbacks h5 {
    position: relative;
    font-size: 80%;
    color: #999;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #888;
    margin: 0 1em 0 3em;
    padding: 0 0 0.5em;
}

#comments li p, #trackbacks li p {
    margin: 0.5em 0.5em 0.5em 3em;
    text-indent: 0;
    font-size: 80%;
}

/* post comment */

#comments li.comment0 {
    background: #eee;
    color: #fff;
    border: 1px solid #aaa;
}

#comments .comment0 .num {
    color: #ccc;
    background: transparent;
}

#comments .comment0 h5  {
    border-bottom-color: #888;
}

#comments li.comment3 {
    color: #fff;
    background: #8d8;
    border: 1px solid #393;
}

#comments .comment3 .num {
    color: #393;
    background: transparent;
}

#comments .comment3 h5 {
    color: #eee;
    background: inherit;
    border-bottom-color: #fff;
}
#comments pre {
    font-size: 75%;
    margin: 0 0 0 2em;
    padding: 0.5em 1em;
    border-left: 4px solid #ddd;
}

/*#comments #sign-info {
    border: 1px solid #069;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
    background: #9cf;
}
#comments #sign-info b {
    padding: 0 3px;
}*/

/* form */

#comment-form {
    color: #333;
    background: #ddd;
    margin: 2px 290px 0 4em;
    border: 1px solid #999;
    padding: 1px 4px;
}

#comment-form input[type=submit] {
    width: 7em;
    height: auto;
    border: 2px solid lightgray;
    padding: 2px 0;
    margin: 0 0 0 7.3em;
    color: #fff;
    background: gray;

    /*-moz-border-radius: 6px;*/
    border-radius: 6px;
}

input[type=email], input[type=url],
input[type=search], input[type=text], textarea {
    border: 3px solid #999;
    padding: 2px;
    color: #000;
    background: #fff;
    font-size: 80%;
    width: 400px;
}

input[type=email]:focus, input[type=url]:focus,
input[type=text]:focus, textarea:focus {
    border: 3px solid #f63;
}
label {
    display: block;
    float: left;
    width: 7.5em;
    text-align: left;
    line-height: 1.6;
    font-size: 80%;

}

#comment-form p, #comment-form fieldset {
    display: block;
    position: relative;
    margin: 3px 0;
    padding: 0.25em;
    color: #333;
    background: #eaeaea;
    line-height: 1;
}
#comment-form .field-tip {
    padding: 4px 0 0 96px;
    font-size: 0.8em;
}

textarea { /* margin bottom fix, reason unknown */
    margin: 0 0 -0.15em;
}


/* sub-content */

aside h2  {
    display: none;
}

aside h3 {
    margin: 1em 0.5em 0.5em;
    border-bottom: 1px solid #eef;
    padding: 0.2em;
    color: #ccd;
    background: transparent;
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
}
#search-form  {
    padding: 0;
    margin: 0 8px;
    font-size: 90%;
}

#search-form fieldset {
    height: 30px;
}

#search-form label, #search-form h3 {
    display: none;
}

#search-form input[type=search] {
    font-size: 120%;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 6px 0;
    border: 0;
    text-indent: 4px;
    width: 262px;

    /*-moz-border-radius: 6px;*/
    border-radius: 6px;
}

#search-form input[type=submit] {
    float: right;
    display: inline;
    border: 2px solid lightgray;
    padding: 2px 4px;
    width: 7em;
    margin: 2px 0;
    color: #fff;
    background: gray;
    /*-moz-border-radius: 6px;*/
    border-radius: 6px;
}

aside p {
    margin: 0.63em 0.63em 1.5em;
    color: #fff;
    background: transparent;
    font-size: 80%;
    line-height: 1.4;
    font-style: normal;
}

aside a.pn {
    display: block;
    margin: 0.5em;
    padding: 0.5em 0.5em 0.5em;
    background: #630;
    height: 4em;
    font-size: 100%;
    color: #aaa;
    line-height: 1.3;

}
aside a.pn time {
    display: block;
    font-size: 80%;
    padding: 0.1em 0.5em;
    color: gray;
    text-decoration: underline;
}

aside a.pn span.prefix {
    display: none;
}

aside a.pn.prev {
    text-align: right;
    padding-left: 2em;
    color: #fff;
    background: #630 url('images/prev.gif') left top no-repeat;
}
aside a.prev span {
    text-align: right;
}
aside a.pn.next {
    text-align: left;
    padding-right: 2em;
    color: #fff;
    background: #630 url('images/next.gif') right bottom no-repeat;
}
aside a.pn:hover {
    font-size: 110%;
}

aside ul {
    margin: 0 0.5em;
    padding: 0;
    color: #ddd;
    background: transparent;
    list-style: none;
    position: relative; /* http://www.positioniseverything.net/explorer/ie-listbug.html */
    height: auto;
}

aside ul li {
    margin: 0 0 0.5em;
    font-size: 90%;
    list-style: none;
    background: url('images/arrow.png') no-repeat left center;
    line-height: 1.4;
    width: 90%;
    padding: 0 0 0 20px;
}
aside li span {
    color: #999;
    background: transparent;
    font-size: 75%;
}

aside a, aside a:visited {
    color: #fcc;
    background: transparent;
    text-decoration: underline;
}
aside a:hover {
    color: yellow;
    background: transparent;
    text-decoration: underline;
}

/* calendar */

aside .calendar {
    margin: 0 auto 0.5em;
    color: #fff;
    background: transparent;
    border-collapse: collapse;
}

aside .calendar caption {
    margin: 0 auto;
    padding: 0 0 6px;
    text-align: center;
    font-size: 120%;
    letter-spacing: 8px;
    text-indent: 8px;
}
aside .calendar th {
    color: #fff;
    background: #960;
}
aside .calendar th, aside .calendar td {
    text-align: center;
    font-size: 90%;
    width: 1.8em;
    border: 1px solid #960;
    padding: 4px;
}
aside .calendar td {
    color: #963;
    background: transparent;
}
aside .calendar a {
    font-weight: bold;
}

/* info */

aside .hideinfo {
    display: none;
    margin-bottom: -1em;
    width: 80%;
}

aside li:hover .hideinfo {
    display: block;
    position: absolute;
    background: #774C15;
    color: #999;
    border-bottom: 1px solid #520;
    padding-bottom: 2px;
    opacity: 0.7;
    z-index: 100;
}

/* site-info */

footer h2 {
    display: none;
}

footer p {
    font-style:normal;
    color: #fff;
    background: #960 url('images/site-info-bg.gif') repeat-x top left;
    font-size: 75%;
    line-height: 3.35em;
    height: 3.36em;
    width: 900px;
    z-index: 50;
    text-indent: 1em;
}

footer a, footer a:visited {
    color: #fff;
    background: transparent;
    padding: 2px 0.8em;
    margin-left: 0.5em;
    border: 1px solid black;
    border-left-width: 4px;
    background: #fff;
    color: #000;
}

footer a:hover {
    color: #f00;
    background: #fff;
}

#GoogleAdSense {
    width: 468px;
    height: 60px;
    margin-left: 4em;
}
#div-1228827515016 {
    width:250px;
    border:1px solid #cccccc;
    margin-left: 0.5em;
    padding: 0;
}
